@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  color: white;
  background-color: #9c1030;
}

nav {
  z-index: 1;
}

:target {
  display: block;
  position: relative;
  top: -120px;
  visibility: hidden;
}

section.basic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 126px;
  margin-bottom: 290px;
  height: auto;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 116px;
  font-weight: 900;
}

h2 {
  font-size: 108px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin: 80px 0;
}

h3 {
  font-size: 85px;
  font-weight: 700;
  text-transform: uppercase;
}

h4 {
  font-size: 30px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
}

.basic-text {
  font-size: 30px;
  font-weight: 400;
}

nav {
  width: 100%;
  height: 126px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  margin: 0;
  top: 0;
  left: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #b10a32;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  font-size: 20px;
  font-weight: 300;
  gap: 50px;
  margin: 0 138px 0 0;
  padding: 0;
  color: white;
  font-weight: 400;
}

nav a {
  color: #e4e4e4;
  text-decoration: none;
}

nav a:hover {
  color: white;
}

nav .logo {
  margin-left: 138px;
}

footer {
  width: 100%;
  background-color: #b10a32;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .wrap {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 100px 150px 100px;
      grid-template-rows: 100px 150px 100px;
  -ms-grid-columns: 1fr 1200px 1fr;
      grid-template-columns: 1fr 1200px 1fr;
}

footer .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .logo {
  -ms-grid-column: 2;
      grid-column-start: 2;
  -ms-grid-row: 1;
      grid-row-start: 1;
}

footer .nav {
  -ms-grid-column: 2;
      grid-column-start: 2;
  -ms-grid-row: 2;
      grid-row-start: 2;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
}

footer .copy {
  background-color: #690c22;
  -ms-grid-column: span 3;
      grid-column-start: span 3;
  -ms-grid-row: 3;
      grid-row-start: 3;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 15px;
}

footer ul {
  list-style-type: none;
  margin: 0 145px 0 0;
  padding: 0;
}

footer a {
  color: #eb9caf;
  text-decoration: none;
}

footer a:hover {
  color: white;
}

.rules .basic-text {
  width: 1390px;
  margin-bottom: 290px;
}

.etap h2 {
  margin: 0;
}

.etap header {
  margin: 80px 0;
}

.etap .tasks-wrapper {
  width: 1644px;
  list-style-type: none;
  margin-bottom: 290px;
}

.etap .tasks-wrapper li:last-child {
  margin: 0;
}

.etap .tasks-wrapper li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 30px;
  margin-bottom: 70px;
}

.etap .tasks-wrapper span:first-child {
  font-weight: bold;
}

.formularz form {
  width: 1000px;
  position: relative;
}

.formularz form input[type='text'] {
  margin-top: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 80px;
  font-size: 30px;
  color: #707070;
  padding-left: 70px;
}

.formularz form #fname,
.formularz form #lname {
  width: 45%;
}

.formularz form #lname {
  float: right;
}

.formularz form input[type='checkbox'] {
  margin-right: 30px;
  width: 25px;
  height: 25px;
  font-size: 20px;
}

.formularz form label[for='regulamin'] {
  font-size: 20px;
}

.formularz form .checkbox-wrapper {
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.formularz form input[type='submit'] {
  margin-top: 80px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: auto;
  color: white;
  background-color: #ad10b5;
  border: solid 4px #ad10b5;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 32px;
  padding: 20px 90px;
  border-radius: 10px;
}

.formularz form input[type='submit']:hover {
  background-color: #9d2da3;
  cursor: pointer;
}

#main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main .scroll-down {
  background-image: url("../resources/scroll.svg");
  width: 40px;
  height: 40px;
  background-position: center;
  background-repeat: no-repeat;
}

#main .scroll-down:hover {
  cursor: pointer;
}

#main h3 {
  margin-bottom: 80px;
}

#main .landing {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #500013;
  margin-bottom: 290px;
}

#main .landing h1 {
  padding: 0;
  font-size: 105px;
  text-align: center;
  width: 1500px;
}

#main .landing h5 {
  text-transform: uppercase;
  font-size: 43px;
  font-weight: 500;
  margin-top: 206px;
}

#main .about {
  width: 1640px;
  margin-bottom: 290px;
}

#main .about .background {
  position: absolute;
  top: 100vh;
  z-index: -1;
  left: 0;
  width: 100%;
  height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(#500013), to(#9c1030));
  background: linear-gradient(#500013, #9c1030);
}

#main .about p {
  width: 90%;
  margin: 0 0 80px 0;
}

#main .about a.button {
  margin-right: 70px;
  color: white;
  background-color: #ad10b5;
  border: solid 4px #ad10b5;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 32px;
  line-height: 0;
  padding: 20px 90px;
  border-radius: 10px;
}

#main .about a.button:hover {
  background-color: #9d2da3;
}

#main .about a.button:last-child {
  background-color: transparent;
  border: solid 4px #ad10b5;
}

#main .about a.button:last-child:hover {
  background-color: #9d2da3;
}

#main .stages {
  margin-bottom: 290px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #500013;
}

#main .stages img {
  max-width: 100%;
  margin: 70px 0px;
}

#main .stages p {
  text-align: center;
  width: 1000px;
  margin-bottom: 70px;
}

#main .stages .stages-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  font-size: 84px;
  font-weight: bold;
  gap: 120px;
}

#main .stages a.stage {
  display: block;
  color: white;
  text-decoration: none;
  width: 160px;
  height: 160px;
  text-align: center;
  line-height: 160px;
  background-color: #b49222;
  border-radius: 30px;
}

#main .stages a.stage:hover {
  background-color: #a38626;
}

#main .organizator {
  width: 1640px;
  margin-bottom: 290px;
}

#main .organizator p {
  margin: 0;
  width: 1000px;
}

#main .contact {
  margin-bottom: 290px;
  width: 1640px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#main .contact p {
  text-align: right;
  width: 1000px;
  margin: 0 0 80px 0;
}

#main .last_call {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 290px;
}

#main .last_call h1 {
  font-size: 108px;
  width: 1000px;
  text-align: center;
  margin-bottom: 290px;
}

#main .last_call a.button {
  margin-right: 70px;
  color: white;
  background-color: #ad10b5;
  border: solid 4px #ad10b5;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 32px;
  line-height: 0;
  padding: 20px 90px;
  border-radius: 10px;
}

#main .last_call a.button:hover {
  background-color: #9d2da3;
}

#main .last_call a.button:last-child {
  background-color: transparent;
  border: solid 4px #ad10b5;
}

#main .last_call a.button:last-child:hover {
  background-color: #9d2da3;
}

.sc-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}

.sc-wrapper .icon {
  display: block;
  width: 40px;
  height: 40px;
  background-position: center;
  background-size: contain;
}

.sc-wrapper .icon.face {
  background-image: url(../resources/fb.svg);
}

.sc-wrapper .icon.ig {
  background-image: url(../resources/instagram.svg);
}
/*# sourceMappingURL=styles.css.map */